<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOG</title>
</head>
<body>

<strong>dog dog dog</strong><br>
<a href="/">index</a><br>
<a href="/me">me</a><br>
<a href="/dog">dog</a><br>

</body>
</html>